# How To Join Data From Different Sources

In [8]:
import pandas as pd
# Let's create DataFrames first

# 1. define dictionaries
data_employees = {
    'EmpID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [60000, 75000, 50000, 80000, 95000],
    'DeptID': ['A01', 'A02', 'A01', 'A03', 'A04']
}

data_departments = {
    'DeptID': ['A01', 'A02', 'A03', 'A05'],
    'Location': ['New York', 'London', 'Paris', 'Berlin'],
    'Manager': ['Smith', 'Jones', 'Baker', 'Clark']
}

# 2. Create DataFrames from dictionaries
df_employees = pd.DataFrame(data_employees).set_index('EmpID')
df_departments = pd.DataFrame(data_departments).set_index('DeptID')

# 3. Show dataframes
print(df_employees)
print() # empty line
print(df_departments)

          Name  Salary DeptID
EmpID
101      Alice   60000    A01
102        Bob   75000    A02
103    Charlie   50000    A01
104      David   80000    A03
105        Eve   95000    A04

        Location Manager
DeptID
A01     New York   Smith
A02       London   Jones
A03        Paris   Baker
A05       Berlin   Clark

## 1. merge()

In [14]:
# merge dataframes based on shared column
df_merged = pd.merge(df_employees, df_departments, on='DeptID', how='outer')
print("\n--- Example: Left Merge on DeptID ---\n")
print(df_merged)

--- Example: Left Merge on DeptID ---

      Name   Salary DeptID  Location Manager
0    Alice  60000.0    A01  New York   Smith
1  Charlie  50000.0    A01  New York   Smith
2      Bob  75000.0    A02    London   Jones
3    David  80000.0    A03     Paris   Baker
4      Eve  95000.0    A04       NaN     NaN
5      NaN      NaN    A05    Berlin   Clark

## 2. join()

In [17]:
# same as merge but done with the index column
df_joined = df_employees.join(df_departments, on='DeptID', how='left')
print(df_joined)

          Name  Salary DeptID  Location Manager
EmpID
101      Alice   60000    A01  New York   Smith
102        Bob   75000    A02    London   Jones
103    Charlie   50000    A01  New York   Smith
104      David   80000    A03     Paris   Baker
105        Eve   95000    A04       NaN     NaN

## 3. concat()

In [21]:
# concat is just stacking two dataframes together
# can be done vertically (axis=0) or horizontally (axis=1)

# Example: vertical stacking
# 1. define new dataframe with new employees
df_new_employees = pd.DataFrame({
    'Name': ['Frank', 'Grace'],
    'Salary': [65000, 55000],
    'DeptID': ['A01', 'A02']
}, index=[106, 107])
df_new_employees.index.name = 'EmpID'

# 2. add new employees to the database by stacking the two dataframes vertically
df_concatted = pd.concat([df_employees, df_new_employees], axis=0)
print("\n--- Example: Concat (axis=0 for Rows) ---")
print(df_concatted)

--- Example: Concat (axis=0 for Rows) ---
          Name  Salary DeptID
EmpID
101      Alice   60000    A01
102        Bob   75000    A02
103    Charlie   50000    A01
104      David   80000    A03
105        Eve   95000    A04
106      Frank   65000    A01
107      Grace   55000    A02